.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.fl {
    float: left;
}
.wrap-div {
    padding: 20px;
    .title-item {
        margin: 5px 10px;
        display: inline-block;
        width: 200px;
        &.btn-div {
            width: 95px;
        }
    }
    &.desktop {
        text-align: center;
    }
    .chart-div {
        max-height: 80%;
        height: 500px;
        box-shadow: 0px 0px 10px #d6d7d8;
        width: 80%;
        margin: 20px auto 0;
    }
}
.no-data {
    margin-top: 40px;
}